head {
  width: 120px;
  height: 100%;
  background: #F9F9E0;
  z-index: 10;
  top: 10;
  padding: 15px 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #F9F9E0;
  height: 100%;
  margin: 20;
  padding: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out all;
}

.quiz {
  width: 500px;
  justify-content: center;
  padding: 10px;
}

.quiz.inactive li {
  pointer-events: none;
}

h1 {
  font-size: 28px;
  padding: 20px;
  color: #3AA6B9;
}

h2 {
  font-size: 18px;
}

.audio{
  height: 100%;
  margin: 10;
  padding: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao {
  font-size: 20px;
  border-radius: 15px;
  border: 0px;
  z-index: auto;
  display: flex;
  padding-bottom: 40px;
  justify-content: center;
  width: 500px;
  color: #F9F9E0;
  font-weight: 700;
  background-color: #FF9EAA;
  text-decoration: none;
  padding: 20px;
}

.botao:hover{
	color: #fff;
  border-radius: 15px;
	background-color: #FFD0D0;
	font-weight: 700;
	text-decoration: none;
	transition: .3s ease-in-out all;
}


ol {
  padding: 0;
}

li {
  padding-left: 16px;
  border-radius: 15px; 
  display: flex;
  align-items: center;
  color: #F9F9E0;
  background: #3AA6B9;
  margin-bottom: 8px;
  height: 48px;
  list-style-type: none;
  font-size: 18px;
}


li:hover {
  color: #ffffff;
	border-color: #33186B;
	background-color: #FFD0D0;
	font-weight: 700;
	text-decoration: none;
	z-index: -1;
  transform-origin: bottom left;
  transition: transform .3s ease;
  cursor: pointer;
}


li.clicked {
  background: #E76F51;;
  color: #fff;
}

li.clicked.correct {
  background: #36BA98;
  color: #fff;
}


.result {
  font-weight: bold;
}

.answer {
  display: none
}
.frame{
  display: none
}